---
import ContactForm from './ContactForm.jsx';

const title = "Contacta con Toride";
const subtitle = "¡Estamos para ayudarte!";
const content = "Rellena el formulario y nos pondremos en contacto contigo lo antes posible.";
const dark = false;
const subjectBase = "Web";
---

<section class={`section grid ${dark ? "dark" : "light"}`} id="contact-form">
  <div class="intro-center">
    <p class="subtitle">{subtitle}</p>
    <h2>{title}</h2>
    <p>{content}</p>
  </div>

  <ContactForm client:load subjectBase={subjectBase} />
</section>