/* fondo por defecto */
.hero-wrapper {
  width: 100dvw;
  height: 70dvh;
  position: relative;
  transition: background-color 0.3s ease;
}

/* fondo según tema */
.hero-wrapper.light {
  background-color: var(--white);
}

.hero-wrapper.dark {
  background-color: var(--black);
}

/* hero interior */
.hero {
  width: 100%;
  height: 100%;
  position: relative;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  overflow: hidden;
}

/* overlay */
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hero-overlay-color);
  opacity: 0.3;
  z-index: 1;
}

/* img BG */
.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--hero-bg-image);
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.hero:hover {
  filter: grayscale(0%);
}

.hero h1 {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -32%);
  color: var(--hero-text-color);
  text-align: center;
}

.hero h1 span {
  -webkit-text-stroke: 1px var(--hero-text-color);
  color: transparent;
}

/* light/dark para hero */
.hero-wrapper.light .hero {
  --hero-text-color: var(--black);
  --hero-overlay-color: var(--white);
}

.hero-wrapper.dark .hero {
  --hero-text-color: var(--white);
  --hero-overlay-color: var(--black);
}

@media (min-width: 1024px) {
  .hero-wrapper {
    height: 80dvh;
  }
}