/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

/* D-DIN */

/* Regular */
@font-face {
  font-family: 'D-DIN';
  src: url('/fonts/D-DIN.woff2') format('woff2'),
       url('/fonts/D-DIN.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'D-DIN';
  src: url('/fonts/D-DIN-Bold.woff2') format('woff2'),
       url('/fonts/D-DIN-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Condensed Regular */
@font-face {
  font-family: 'D-DIN Condensed';
  src: url('/fonts/D-DINCondensed.woff2') format('woff2'),
       url('/fonts/D-DINCondensed.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Condensed Bold */
@font-face {
  font-family: 'D-DIN Condensed';
  src: url('/fonts/D-DINCondensed-Bold.woff2') format('woff2'),
       url('/fonts/D-DINCondensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* View Transition */
@view-transition {
  navigation: auto;
}

::view-transition-group(*) {
  animation-duration: 1s;
}

/* Estilos base */
:root {
  --main-color: #E8C733;
  --black: #1d1d1b;
  --white: white;
  --peques: #00B0F0;
  --infantil: #4d9e45;
  --junior: #D32F2F;
  --senior: #9f28ea;
  --padding-x: 1rem;
  --padding-y: 2.5rem;
}

@media (min-width: 768px) {
  :root {
    --padding-x: 2.5rem;
    --padding-y: 3.5rem;
  }
}
  
@media (min-width: 1024px) {
  :root {
    --padding-x: 4rem;
    --padding-y: 5rem;
  }
}

html {
  font-family: 'D-DIN', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--main-color);
}

@media (min-width: 1920px) {
  html { font-size: 20px; }
}

/* Last section footer fixed */
main {
  margin-bottom: 210px;
  position: relative;
  z-index: 1;
}

main > :last-child {
  border-radius: 0 0 3rem 3rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  main { margin-bottom: 280px; }
}

@media (min-width: 1024px) {
  main { margin-bottom: 330px; }
  main > :last-child { border-radius: 0 0 5rem 5rem; }
}

@media (min-width: 1920px) {
  main { margin-bottom: 404px; }
}

::selection {
  background-color: var(--main-color);
  color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'D-DIN Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: .9;
  text-wrap: balance;
  letter-spacing: -0.03em;
}

h1, h2 {
  padding: 0 0 1rem;
}

@media (min-width: 768px) {
  h1, h2 {
    padding: 0 0 2rem;
  }
}

/* Font sizing */
h1 { font-size: clamp(2.5rem, 12vw, 8rem); }
h2 { font-size: clamp(2rem, 10vw, 5rem); }
h3 { font-size: clamp(1.25rem, 4vw, 2.25rem); }
h4 { font-size: clamp(1.125rem, 3vw, 1.75rem); }
h5 { font-size: clamp(1rem, 2.5vw, 1.5rem); }
h6 { font-size: clamp(0.875rem, 2vw, 1.25rem); }

/* Layout */
.section {
  padding: var(--padding-y) var(--padding-x);
  width: 100%;
}

/* light mode */
.section.light {
  background-color: var(--white);
  color: var(--black);
}

/* dark mode */
.section.dark {
  background-color: var(--black);
  color: var(--white);
}

.rounded { border-radius: 0 0 3rem 3rem; }

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid { grid-template-columns: repeat(8, 1fr); }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }

  .rounded { border-radius: 0 0 5rem 5rem; }
}

.image {
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  user-select: none;
}

.ar-9-14 { aspect-ratio: 9 / 14; }
  
@media (min-width: 1024px) {
  .ar-9-14 {
    aspect-ratio: unset;
    height: 500px;
  }
}

@media (min-width: 1920px) {
  .ar-9-14 {
    height: 750px;
  }
}

.ar-9-14 img { filter: grayscale(100%); }

.image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: 10;
  transition: opacity 0.3s ease;
}
  
@media (min-width: 768px) {
  .image::after { border-radius: 1.5rem; }
}

/* IMAGE FULL-WIDTH */

.full-img {
  grid-column: span 4;
  aspect-ratio: 16 / 9;
}

@media (min-width: 768px) {
  .full-img { grid-column: span 8; }
}

@media (min-width: 1024px) {
  .full-img { grid-column: 2 / span 10; }
}

.contain,
.cover,
.fill {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.contain { object-fit: contain; }
.cover { object-fit: cover; }
.fill { object-fit: fill; }

@media (min-width: 768px) {
  .contain, .cover, .fill { border-radius: 1.5rem; }
}


/* Intro centered */
.subtitle {
    font-family: 'D-DIN Condensed';
    font-size: 1.25rem;
    text-transform: uppercase;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.intro-center {
    text-align: center;
    text-wrap: balance;
    grid-column: span 4;
}

@media (min-width:768px){
    .intro-center {
        grid-column: 2 / span 6;
    }
}

@media (min-width:1024px){
    .intro-center {
        grid-column: 4 / span 6;
    }
}