---
import Layout from '../layouts/Layout.astro';
import { getPageInfo } from '../lib/wp';

const { title, content } = await getPageInfo("hola"); 
---

<Layout title = "Toride Escuela de Artes Marciales" description = "Escuela de Artes Marciales en Barcelona en el barrio de Fort Pienc. Clases de Kickboxing y defensa personal para todas las edades.">

  <h1 set:html={title}></h1>
  <div set:html={content}></div>

</Layout>