.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.logos-pages {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    align-items: center;
}

.footer-pages {
    display: none;
}
  
.footer svg {
    width: 80px;
    height: auto;
}

.footer svg .toride-circle {
    --spin-speed: 10s;
    transform-origin: center center;
    animation: spin var(--spin-speed) linear infinite;
}
  
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.footer-legal {
    position: absolute;
    bottom: 0;
    width: calc(100% - 2*(var(--padding-x)));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-legal a {
    text-decoration: underline;
}

.footer-legal > * {
    padding: .25rem 0;
}

.legal-rights {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: 768px) {
    .footer-pages {
        display: flex;
        flex-direction: column;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .footer svg {
        width: 120px;
    }
}

@media (min-width: 1024px) {
    .footer svg {
        width: 170px;
    }

    .logos-pages {
        padding-bottom: 0;
    }

    .logos-pages a:hover {
        text-decoration: underline;
    }

    .footer-pages {
        font-size: 1.2rem;
        gap: 1rem;
    }

    .footer-legal a {
        text-decoration: none;
        position: absolute;
        bottom: 0;
    }

    .footer-legal a:hover {
        text-decoration: underline;
    }

    .footer svg:hover .toride-circle {
        --spin-speed: .5s;
    }
}