---
const {
    title = "Título por defecto",
    subtitle = "Subtítulo por defecto",
    content = "",
    dark = false
} = Astro.props;
---

<section class={`section grid ${dark ? "dark" : "light"}`}>
    <div class="intro-center">
        {subtitle && <p class="subtitle">{subtitle}</p>}
        {title && <h2>{title}</h2>}
        {content && <p>{content}</p>}
    </div>
</section>