---
import "../styles/theme.css"
import Header from "../components/Header/Header";
import Footer from "../components/Footer/Footer.astro";
const { title = "", description = "" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadatos básicos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- SEO -->
    <title>{title}</title>
    <meta name="description" content={description}>
    <meta name="author" content="kokepizza">
    <meta name="keywords" content="palabra, palabra, palabra">

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

</head>

<body>
    <Header client:load/>
    <main>
        <slot />
    </main>
    <Footer />
</body>